.DockCard {
    max-width: unset;
    transition: all 0.3s ease;
    border-bottom: groove;
}

@media (min-width: 1000px) {
    .DockCard {
        min-width: 300px;
        max-width: 320px;
    }
}

.DockCard:hover {
    background-color: var(--gray-lighterer);
}

.DockCard p {
    margin-top: 0px;
    margin-bottom: 2px;
    margin-left: 10px;
}

.CardTitle {
    padding-top: 8px;
    font-weight: bold;
    font-size: larger;
    padding-bottom: 5px;
}
