.DockCard {
    max-width: unset;
    transition: all 0.3s ease;
}

@media (min-width: 1000px) {
    .DockCard {
        min-width: 300px;
        max-width: 320px;
    }
}

.DockCard:hover {
    background-color: var(--gray-lighterer);
}

.DockCard p {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 10px;
}

.DockCard p:first-of-type {
    font-weight: bold;
    font-size: larger;
    padding-bottom: 10px;
}

.DockManager {
    border-top: groove;
    border-bottom: groove;
}
