.DockSearcher {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.Inputs {
    margin-bottom: 10px;
}

.InputElement {
    width: 220px;
    display: inline-block;
}

.Content {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.Map {
    width: 100%;
    border: solid 1px black;
    margin-left: 10px;
}

@media (max-width: 750px) {
    .Content {
        display: flex;
        flex-direction: column;
    }

    .Map {
        height: 100%;
        margin-left: 0;
    }
}
