.Label {
    display: flex;
    margin-bottom: 8px;
    padding-top: 10px;
}

.SelectElement {
    outline: none;
    border: 1px solid var(--gray-lighter);
    background-color: var(--white);
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.validationWarning {
    color: var(--error);
    margin: 5px 0;
    text-align: left;
} 