.Facility {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--gray-lightest);
}

.Facility p {
    float: left;
    padding: 0 10px;

}

.Facility p:nth-child(2) {
    overflow-wrap: anywhere;
}

.Facility div {
    display: flex;
}
