.DockForm {
    display: flex;
    flex-wrap: wrap;
}

.DockForm h5 {
    width: 100%;
    display: flex;
    text-align: left;
    font-weight: lighter;
    margin-bottom: 0;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.DockForm textarea {
    height: 200px;
}

.DockForm p {
    padding-left: 10px;
    padding-right: 10px;
}

.Input {
    display: block;
}

.Leaflet {
    height: 400px;
    width: 100%;
    padding: 10px;
}

.Facilitys {
    border: 1px solid var(--gray-lighter);
    padding: 10px;
    box-sizing: border-box;
}

.Feedback {
    z-index: 500;
    position: fixed;
    left: 0;
    right: 0;
    top: 30%;
}

.FormInformation{
    display: flex;
    flex-wrap: wrap;
}

.FormLocation{
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 1800px) {
    .FormInformation{
        max-width: 50%;
    }
    
    .FormLocation{
        max-width: 50%;
    }
}
