.NavigationItem {
    cursor: pointer;
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.NavigationItem a,
.NavigationItem p {
    font-weight: normal;
    color: var(--grey-darker);
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
}

@media (min-width: 500px) {
    .NavigationItem {
        margin: 0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    }

    .NavigationItem a,
    .NavigationItem p {
        color: var(--gray-lighter);
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 30px;
        border-bottom: 4px solid transparent;
        transition: all 0.3s ease;
    }

    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a.active,
    .NavigationItem p:hover,
    .NavigationItem p:active {
        border-bottom: 4px solid var(--primary);
        color: var(--white);
    }
}
