.AddressCreator h5 {
    width: 100%;
    text-align: left;
    margin: 0;
}

.AddressForm {
    display: flex;
    flex-wrap: wrap;
}

.AddressForm button {
    float: left;
}

.Input {
    box-sizing: border-box;
    padding: 5px 5px 5px 5px;
    width: 100%;
}

.InputHalf {
    box-sizing: border-box;
    padding: 5px 5px 5px 5px;
    width: 50%;
}

.Warning {
    padding: 10px;
    font-weight: bold;
    color: var(--error);
}

.Spinner {
    position: absolute;
    left: 0;
    right: 0;
}
