.DockList {
    margin-right: 10px;
    width: 4 00px;
}

.RentableDockItem {
    width: 100%;
    box-shadow: 15px 11px 25px -2px rgb(30 30 60 / 36%);
    word-break: break-word;
    cursor: pointer;
    border: solid black 1px;
    margin-bottom: 20px;
}

.RentableDockItem p,
.RentableDockItem h3 {
    margin: 10px;
}

.RentableDockItem:last-child {
    margin-bottom: 40px;
}

@media (max-width: 750px) {
    .rentableDockItem {
        width: 100%;
        margin: 25px auto auto auto;
    }
    .DockList {
        width: 100%;
        margin-right: 0;
    }
}
