.DockManager {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.Content {
    display: flex;
    flex-grow: 1;
    min-height: 0;
}

.DockManagerList {
    height: 100%;
    border-style: groove;
    overflow-y: scroll;
    min-width: fit-content;
}

.DockManagerButtons {
    display: flex;
}

.EpmtyDockList {
    padding: 20px;
    max-width: 300px;
}
