.DockManager {
    display: flex;
    flex-wrap: wrap;

}

.DockManagerList{
    width: 100%;
    max-height: 30vh;
    border-style: groove;
    overflow-y:scroll;
}

.DockManagerCreator {
    flex-grow: 1;
    min-height: 68vh; 
    border-style: groove;
    width: min-content;
}

@media (min-width: 1000px) {
    .DockManagerList{
        width: unset;
        min-height: 68vh; 
    }
}

.DockManagerButtons{
    display: flex;
}


.EpmtyDockList {
    padding: 20px;
    max-width: 300px;
}

