.ModalLogin {
    position: fixed;
    z-index: 500;
    width: 20%;
    margin: auto;
    padding: 15px;
    text-align: center;
    box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.29);
    overflow: auto;
    left: 40%;
    border: 2px solid #ccc !important;
    border-radius: 16px;
    background-color: white;
    height: fit-content;
}

.SubmitLogin {
    margin: 10px auto 10px auto;
    background-color: #0202C7;
    box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.29);
}

.SubmitLogin:hover {
    background-color: #010195;
}

.SubmitLogin:active {
    background-color: #010195;
    box-shadow: 0 6px 5px -5px rgba(0, 0, 0, 0.29);
    transform: translateY(4px);
}

.CloseModal {
    cursor: pointer;
    float: left;
    font-size: 28px;
    font-weight: bold;
}

@media (max-width: 1380px) {
    .ModalLogin {
        width: 40%;
        left: 30%;
        top: 15%;
    }
}

@media (max-width: 1250px) {
    .ModalLogin {
        width: 40%;
        left: 18%;
        top: 20%;
    }
}

@media (max-width: 1000px) {
    .ModalLogin {
        width: 50%;
        left: 22%;
        margin-left: 0;
    }

    .fullLength {
        width: 85%;
    }

    .halfLength {
        width: 42.5%;
    }
}

@media (max-width: 750px) {
    .ModalLogin {
        left: 22%;
        top: 5%;
        bottom: 5%;
        height: fit-content;
    }
}

@media (max-width: 500px) {
    .ModalLogin {
        left: 20%;
        top: 11%;
        bottom: 0;
    }
}
