#dockMap {
    height: 750px;
    width: 80%;
    top: 0;
    z-index: 1;
    position: sticky;
    margin: 25px auto auto auto;
    border: solid 1px black;
}

@media (max-width: 750px) {
    #dockMap {
        height: 300px;
    }
}

