.Map {
    height: 750px;
    width: 80%;
    top: 0;
    z-index: 1;
    position: absolute;
    margin: 25px auto auto auto;
}

@media (max-width: 750px) {
    .Map {
        height: 300px;
    }
}

