:root {
    --sucess: #3db96d;
    --error: #ea4634;
    --warning: #ea8634;
    --notify: #f5ed02;
    --warning-lighter: #e9b78e;
    --notify-lighter: #eceaab;

    --white: #fff;

    --gray-lightest: #f2f2f3;
    --gray-lighterer: #dbdcdd;
    --gray-lighter: #bebfc3;
    --gray-light: #8ca4a5;

    --gray-darker: #717171;
    --gray-dark: #434954;

    --primary: #f26c4e; /* #2F8BE6 */
    --primary-lighter: #dab5ad; /* #2F8BE6 */
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    background-color: var(--gray-lightest);
    color: var(--gray-dark);
}

h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: left;
}

h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    text-align: left;
}

h5 {
    font-size: 25px;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 10px;
}

p {
    font-size: 15px;
    text-align: left;
}

.leaflet-container {
    width: 100%;
    min-height: 100%;
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

#root {
    height: 100%;
}
