.AddressCreator h5 {
    width: 100%;

    text-align: left;
    font-weight: lighter;
    margin: 0;
}

.AddressForm {
    display: flex;
    flex-wrap: wrap;
}

.AddressForm button {
    float: left;
}

.Input {
    display: block;
}

.Warning {
    padding: 10px;
    font-weight: bold;
    color: var(--error);
}

.Spinner {
    position: absolute;
    left: 0;
    right: 0;
}
